<!DOCTYPE html>
<html>
<head>
  <title>Magicurls</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="http://localhost:3000/urls">URLs</a><br />
  <a href="http://localhost:3000/users">USERs</a><br />
  <a href="http://localhost:3000/categories">Categories</a><br />
  <a href="http://localhost:3000">Admin</a><br />

<%= yield %>

</body>
</html>
